<script>
  $(document).ready(function() {
    var $form = $('#newsletter');

    $form.submit(function() {
      var $emailField = $form.find('input[name="EMAIL"]');

      if ($emailField.val().indexOf('@') == -1) {
        $emailField.focus();
        return false;
      }

      $.ajax({
        url: $form.attr('action'),
        type: 'GET',
        data: $form.serialize(),
        dataType: 'jsonp'
      });

      $('body').addClass('flip');

      return false;
    });
  });
</script>

<div class="flip-container">
  <div class="flipper">
      <div class="badge badge--front">
        <div class="badge-section badge-section--logo">
          <img src="{{ 'tiny-conf-logo.svg' | asset_url }}" alt="">
        </div>
        <div class="badge-section badge-section--meta">
          <div class="badge-section__half">March 19th</div>
          <div class="badge-section__half">Montreal, QC</div>
        </div>
        <div class="badge-section badge-section--description">
          A short &amp; sweet conference for developers
        </div>
        <form class="badge-section badge-section--newsletter" action="https://Tinyconf.us11.list-manage.com/subscribe/post?u=44b4162c5d14fbf292f11e3ec&amp;id=37a480c9a1" method="GET" id="newsletter">
          <input name="EMAIL" type="text" class="field" placeholder="Subscribe to our newsletter">
          <button class="btn"><img src="{{ 'right.svg' | asset_url }}" alt=""></button>
        </form>
      </div>
      <div class="badge badge--back">
        <div class="badge-section badge-section--thank-you">
          <img src="{{ 'checkmark.svg' | asset_url }}" alt="" class="checkmark">
          <div>Thank you for your interest!</div>
        </div>
        <div class="badge-section">
          <span class="lower">We’ll let you know when we have more details</span>
        </div>
      </div>
    </div>
  </div>
</div>
